/* Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f9f9f9;
  }
  
  .footer-section p{
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
  }
  .footer-section a {
    color: #f9f9f9;
    text-decoration: none;
  }
  .footer-section ul {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
    list-style-type: none; /* Removes default bullet points */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}
.footer-section ul li {
    margin-bottom: 0.5rem; /* Adds space between list items */
}
.footer-section ul li strong {
    color: #fff; /* Makes the labels stand out if needed */
} 
  .footer-section a:hover {
    text-decoration: underline;
  }
  .social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #444;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .social-icon:hover {
    background-color: #555;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
  }
  